[run]
omit=
    */venv/*
    */test/*
    */staticfiles/*
    */migrations/*
    */__init__.py
    /usr/lib/python3/dist-packages/*
    */urls.py
    */settings/*
    */wsgi.py
    manage.py
    fabfile.py